body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.glyphicon-color-red {
  color: red;
}

.list-button {
    width: 40px;
    cursor: pointer;
}

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}